@import url('https://fonts.googleapis.com/css?family=Satisfy:400,500,700|Roboto:100,700,400italic,700italic|Josefin:400,700');
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    min-width: 320px;
    max-height: 100%;
    font-size: 62.5%;
}

footer {
    text-align: center;
    padding: 3px;
    color: white;
}

body {
    height: 100%;
    max-height: 100%;
    font-family: Satisfy;
    font-size: 1.8rem;
    line-height: 1.5em;
    color: #3A4145;
    width: 100%;
    background: #333
}

.collapsible {
    outline: none;
    cursor: pointer;
}

.content {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: auto;
}

.active,
.collapsible:hover {
    cursor: pointer;
}

.collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    /* margin-left: 5px; */
}

.active:after {
    content: "\2212";
}

::selection {
    color: #000000;
    background: #A6FFD7;
    text-shadow: none;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}

h2,
h3,
h4 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 0;
    font-family: 'Droid Sans', Arial, sans-serif;
    font-weight: 400;
    color: #566160;
}

h2 {
    font-size: 2.8rem;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-indent: -2px;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2.0rem;
}

a {
    color: #4a4a4a;
    transition: color ease 0.3s, border ease 0.3s, background ease 0.3s;
}

a:hover {
    color: #57A3E8;
}

h2 a,
h3 a,
h4 a {
    color: #50585D;
}

p,
ul,
ol {
    margin: 1.6em 0;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0.4em 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #efefef;
    margin: 3.2em 0;
    padding: 0;
}

blockquote {
    margin: 1.6em 0 1.6em 0;
    padding: 0 0 0 1.6em;
    border-left: #4a4a4a 0.4em solid;
    margin: 0.8em 0;
    font-style: italic;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    color: #ccc;
}

blockquote small:before {
    content: '\2014 \00A0';
}

article p:first-of-type:first-letter {
    float: left;
    font-size: 5.8rem;
    line-height: 5.4rem;
    margin: 0 6px 0 0;
}

h4 {
    font-size: 4rem;
    margin: 0 auto;
    padding: 0 10%;
    color: #ffffff;
}

.centre {
    top: 25%;
    width: 100%;
    height: 50%;
    position: absolute;
}

h3,
h4 {
    font-family: Satisfy;
    text-transform: none;
    font-weight: 700;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}


/* main {
  width: 60%;
  position: relative;
  padding: 0;
  margin: 0 0 0 40%;
} */

main {
    width: 95%;
    max-width: none;
    margin: auto;
}

article {
    padding: 5px 2%;
    word-break: break-word;
    hyphens: auto;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bioarticle {
    padding: 40px 11.14%;
    word-break: break-word;
    hyphens: auto;
    border-radius: 10px;
    background: linear-gradient(45deg, rgba(#6D80FE, 1) 0%, rgba(#23D2FD, 1) 100%);
    box-shadow: 0 5px 20px rgba(#23D2FD, .3);
}

h2 {
    /* font-size: 7.4rem; */
    font-weight: 200;
    text-transform: none;
    font-family: Satisfy;
    text-align: left;
    opacity: 0.95;
    padding: 0 11.4%;
    font-style: normal;
    font-size: 3.2rem;
    line-height: 4.6rem;
    padding: 0;
}

h2,
h2 a {
    color: #333638;
}

.post-end {
    color: #BBC7CC;
    margin: 0;
}

.post-end span {
    float: right;
    font-style: italic;
}

article img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

article {
    padding: 2%;
    margin-bottom: 20px;
}

@media only screen and (min-width: 900px) {
    article {
        margin: 0;
        border-radius: 10px;
        /*     border-bottom: 1px dotted #222; */
        margin-bottom: 20px;
        padding: 2%;
    }
}

@media only screen and (max-width: 900px) {
    blockquote {
        margin-left: 0;
    }
    p:first-child:first-letter {
        font-size: 5.2rem;
        line-height: 5rem;
        margin: 0 4px 0 0;
    }
    main {
        width: 95%;
        max-width: none;
        margin: auto;
    }
    article {
        font-size: 0.9em;
        line-height: 1.6em;
        margin-bottom: 20px;
        padding: 2%;
    }
    h2 {
        font-size: 2.4rem;
        line-height: 0.5rem;
        letter-spacing: 0;
    }
    h3 {
        font-size: 2.0rem;
        line-height: 2.2rem;
    }
    h4 {
        font-size: 1.8rem;
        line-height: 2.0rem;
    }
}

@media only screen and (max-width: 500px) {
    main {
        width: 95%;
        max-width: none;
        margin: auto;
    }
    article {
        width: auto;
        font-size: 0.8em;
        line-height: 1.6em;
        margin-bottom: 20px;
        padding: 2%;
    }
    p:first-child:first-letter {
        font-size: 4.4rem;
        line-height: 4.6rem;
        margin: 0 4px 0 0;
    }
    h2 {
        font-size: 2.4rem;
        line-height: 1.1em;
        letter-spacing: 0;
    }
    h3 {
        font-size: 2.0rem;
        line-height: 2.2rem;
    }
    h4 {
        font-size: 1.8rem;
        line-height: 2.0rem;
    }
}